<h2>Patient's Index</h2>

Patients:
  <% @patients.each do |apt| %>
    <%= apt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to apt.patient.name, patient_path(apt.patient) %>
  <% end %>
