<h2><%= @patient.name %></h2> <br />
<p>
  With Doctor: <%= @patient.doctor %>  <br />
</p>
Appointments:
  <% @patient.appointments.each do |p| %>
    <%= apt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to apt.patient.name, patient_path(apt.patient) %>
  <% end %>
