<h2><%= @doctor.name %></h2> <br />
<p>
  Department: <%= @doctor.department %>
</p>
Appointments:
  <% @doctor.appointments.each do |apt| %>
    <%= apt.appointment_datetime.strftime("%B %d, %Y") %> - <%= link_to apt.patient.name, patient_path(apt.patient) %>
  <% end %>
